on: [push]

jobs:
  test-action:
    runs-on: ubuntu-latest
    name: A job to configure docker host variable
    steps:
      - name: configure docker-host
        id: hello
        uses: khaledez/configure-docker-host@v1
        with:
          ssh-private-key: "SAMPLE"
          host: "localhost"
          user: "ubuntu"
      - name: validate
        run: |
          echo "docker host var: $DOCKER_HOST"
          ls ~/.ssh
